:root {
    --primary-color: #5C7AEA;
    --heading-color: #14279B;
    --font-color-dark: #000000;
    --font-color-light: #FFFFFF;
    --bg-color: #E6E6E6;
    --secondary-color: #3D56B2;
}

body {
    margin: 0px;
    background-color: var(--bg-color);
    color: var(--font-color-dark);
}

#headerTitle {
    text-align: center;
    background-color: var(--heading-color);
    color: var(--font-color-light);
    font-style: italic;
    margin: 0px;
    padding: 1em 3em 1em 3em;
}
#headerTitle > h1 {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

footer {
    background-color: var(--secondary-color);
    color: var(--font-color-light);
    text-align: center;
    padding: 1em 3em 1em 3em;
}

main {
    padding: 3em 2em 3em 2em;
}

.note {
    font-style: italic;
}

.error {
    font-style: italic;
    color: red;
}

nav {
    background-color: var(--primary-color);
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    overflow: hidden;
}
  
nav > ul > li {
    text-align: center;
    margin: 0;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border: none;
}

nav > ul > li:first-child {
    border-left: none;
}

nav > ul > li a {
    display: block;
    color: var(--font-color-light);
    padding: 8px 16px;
    text-decoration: none;
}

nav > ul > li a:hover {
    background-color: var(--bg-color);
    color: var(--font-color-dark);
}
@media only screen and (min-width: 600px) {
    nav > ul > li {
        float: left;
        display: block;
        border-left: 1px solid var(--bg-color);
    }
}