:root {
    --primary-color: #5C7AEA;
    --heading-color: #14279B;
    --font-color-dark: #000000;
    --font-color-light: #FFFFFF;
    --bg-color: #E6E6E6;
    --secondary-color: #3D56B2;
}

body {
    margin: 0px;
    background-color: var(--bg-color);
    color: var(--font-color-dark);
}

#headerTitle {
    text-align: center;
    background-color: var(--heading-color);
    color: var(--font-color-light);
    font-style: italic;
    margin: 0px;
    padding: 1em 2em 1em 2em;
}
#headerTitle > h1 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

footer {
    background-color: var(--secondary-color);
    color: var(--font-color-light);
    text-align: center;
    padding: 1em;
}