label {
    font-weight: bold;
}

form > div {
    margin-bottom: 2em;
}

#oldTargetSelect1 {
    margin-bottom: 0.5em;
}

@media only screen and (min-width: 600px) {
    #inviteSection {
        width: 75%;
        margin: auto;
        border: black solid 3px;
        padding: 2em;
        border-radius: 10px;
        margin-bottom: 2em;
    }

    #rsvpSection {
        width: 60%;
        margin: auto;
    }
}