label {
    font-weight: bold;
}
.tableTitle {
    font-size: x-large;
}

/* Generate Button */
#generateSection {
    text-align: center;
    margin-bottom: 2em;
}
#generateButton {
    padding: 1em;
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: bold;
}

/* General Tables */
.tableTitle {
    font-weight: bold;
    font-style: italic;
}
.dataTable {
    border-collapse: collapse;
    table-layout: fixed;
    overflow-x: auto;
    display: block;
}
.dataTable tr {
    border-bottom: 1px solid black;
}
.dataTable td, .dataTable th {
    padding-right: 2em;
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}
.emptyTable {
    font-style: italic;
    color: red;
}
.selectedRow {
    background-color: yellow;
    color: red;
}

/* Party Section */
.party-form-row {
    margin-top: 0.5em;
}
.input-label {
    display: inline-block;
    width: 8em;
}
.form-input {
    display: inline-block;
    width: 70%;
}
#party-submit-btns {
    margin-top: 1em;
}
.inviteeLabel {
    font-weight: normal;
    margin-left: 0.2em;
}
#party-reset-button {
    margin-left: 1em;
}